.AudioCanvas1Box { position: absolute; bottom: 0; left: 0}     /*bottom   looking up     */   
.AudioCanvas2Box { position: absolute; top: 0; left: 0;}    /*left     looking right  */
.AudioCanvas3Box { position: absolute; top: 0; right: 0;}   /*top      looking down   */
.AudioCanvas4Box { position: absolute; bottom: 0; right: 0;}      /*right    looking left   */

/* .trackInfoContainer { height:500px; width:500px; display: flex; justify-content: center; align-items: center; } */

/* .AudioCanvas1Box { height:300px; width:300px }
.AudioCanvas2Box { height:300px; width:300px }
.AudioCanvas3Box { height:100px; width:100px }
.AudioCanvas4Box { height:100px; width:100px } */



/* .trackInfoContainer { height:500px; width:500px; display: flex; justify-content: center; align-items: center; }
.trackInfoBox { width: 100px; height: 100px; display: flex; }
.trackInfoText { display: flex; flex-direction: column; justify-content: center; }
#trackAlbumCoverArt { margin-right: 10px; }
#trackTitle { font-size: 15px; margin-bottom: 10px; font-family: sans-serif; }
#trackArtist { font-size: 15px; font-family: sans-serif; } */


.trackInfoContainer { height:100vh; width:100vw; display: flex; justify-content: center; align-items: center; }
.trackInfoBox { width: 40vw; height: 30vh; display: flex; }
.trackInfoText { display: flex; flex-direction: column; justify-content: center; }
#trackAlbumCoverArt { margin-right: 5vw; }
#trackTitle { font-size: 3vh; margin-bottom: 2vh; font-family: sans-serif; }
#trackArtist { font-size: 2vh; font-family: sans-serif; }